<h2> Administration </h2>


<%= @error_1 %>

<form action="/admin" method="POST">
  <div class="mb-3">
    <label  class="form-label" >Login</label>
    <input type="text" name="login" class="form-control"  aria-describedby="Enter your login">
    
  </div>
  <div class="mb-3">
    <label  class="form-label">Password</label>
    <input type="password" name="password"class="form-control"  >
  </div>
  
  <button type="submit" class="btn btn-primary">Войти</button>
</form>